<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>154</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>153</string>
					<key>Timestamp</key>
					<string>806606096.54541</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Note taking app/ContentView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>                            saveNotes()
</string>
				<key>leading</key>
				<string>                            
                            notes.append(newNote)
</string>
				<key>trailing</key>
				<string>                        } label: {
                            Image(systemName: "plus")
                                .glassEffect()
</string>
			</dict>
			<key>title</key>
			<string>New note Button</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>136</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>135</string>
					<key>Timestamp</key>
					<string>806606096.545447</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Note taking app/ContentView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>                            //ILL MAKE THIS THE SHARING BUTTON
</string>
				<key>leading</key>
				<string>
                            saveNotes()
</string>
				<key>trailing</key>
				<string>                        } label: {
                            
                            Image(systemName: "square.and.arrow.down")
</string>
			</dict>
			<key>title</key>
			<string>[PLACEHOLDER] button</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>93</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>92</string>
					<key>Timestamp</key>
					<string>806605181.8699009</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Note taking app/ContentView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>                            darkMode.toggle()
</string>
				<key>leading</key>
				<string>                        Button{
                            print("darkmode state: ", darkMode)
</string>
				<key>trailing</key>
				<string>                            //dark | light mode switcher!!
                        } label: {
                            Image(systemName: darkMode ? "sun.max.fill" : "moon")
</string>
			</dict>
			<key>title</key>
			<string>Dark / Light mode switcher</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>71</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>70</string>
					<key>Timestamp</key>
					<string>806604487.923653</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Note taking app/ContentView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>                            
</string>
				<key>leading</key>
				<string>                        Button{
                           // print("Deleted the current note")
</string>
				<key>trailing</key>
				<string>                            if let selectedNoteID,
                               let index = notes.firstIndex(where: {$0.id == selectedNoteID }) {
                                print("remobing " , index)
</string>
			</dict>
			<key>title</key>
			<string>Delete notes button</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>168</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>167</string>
					<key>Timestamp</key>
					<string>806606096.54544</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Note taking app/ContentView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>        noteeditor(notes: notes)
</string>
				<key>leading</key>
				<string>        }

</string>
				<key>trailing</key>
				<string>        
        VStack{
            Text("Recents")
</string>
			</dict>
			<key>title</key>
			<string>Text editor (main)</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
